html
  head
    title Blog
    include components/head
  body
    include components/header

    #wrapper.blog
      h1 Crymoetrix Blog
      .lds-ring-wrapper
        .lds-ring 
          div &nbsp;
          div
          div
          div


      

      .post-container
      

    include components/footer