html
  head
    title Contact Us
    link(rel="canonical" href="https://cryometrix.com/error")
    include components/head
  body
    include components/header

    #wrapper.thanks
        h1 Oops! Something went wrong with our system.

    include components/footer