html
  head
    title Cryometrix - Cryogenic Freezers and Chillers 
    link(rel="canonical" href="https://cryometrix.com/index")
    meta(charset="UTF-8")
    meta(name="description" content="We are the manufacturers of the world's fastest lab blast freezer, the B-90. See our liquid nitrogen blast freezers, storage freezers, and liquid chillers now!")
    include components/head
  body
    include components/header

    #wrapper
        .hero-image
            .overlay
            img(src="images/HomepageHero.jpg")
            .info
                h1 CRYOGENIC BLAST FREEZING WITH LIQUID NITROGEN
                p The B-90 will freeze up to 8x faster than our competitors.
                a(href="product-b90.html") B-90 BLAST/THAW FREEZER
        main
            a(href="product-t160.html")
                .content-container
                    img(src="images/freezers/t-160/T160-Liquid-Nitrogen-ULT-Freezer-right-side.png", alt="T-160 ULT Freezer")
                    p Temperatures down to -160&deg;C in under 3 hours with zero LN2 exposure.
                h2 T-160 ULTRA LOW FREEZER
            a(href="product-b90.html")
                .content-container
                    img(src="images/freezers/b-90/B90-Fast-Cryogenic-Blast-Freezer-with-technician.png", alt="B-90 Blast Freezer")
                    p Blast freeze to -90&deg;C in under 10 minutes with zero LN2 exposure.
                h2 B-90 BLAST/THAW FREEZER
            a(href="product-t90.html")
                .content-container
                    img(src="images/freezers/t-90/T90-LN2-Low-Temperature-Storage-Freezer-frozen-sample.png", alt="T-90 Storage Freezer")
                    p Reliable freezing -90&deg;C in 45 minutes with 20-year warranty.
                h2 T-90 STORAGE FREEZER
            a(href="product-s90.html")
                .content-container
                    img(src="images/freezers/s-90/S90-Liquid-Nitrogen-Low-Temperature-Shipper-Freezer-right-side.png", alt="S-90 Low Temp Shipper")
                    p Ship products at -90&deg;C with self-contained system for up to 15 days.
                h2 S-90 SHIPPER FREEZER
            a(href="product-L80.html")
                .content-container
                    img(src="images/freezers/L-80/L80-Liquid-Nitrogen-Liquid-Chiller.png", alt="L-80 Liquid Chiller")
                    p Chill 120 gallons of ethanol to -65&deg;C in two hours. 
                h2 L-80 LIQUID CHILLER

    #contact-form-popup.contact-popup.hide-contact-form
      include components/contact-component
    

    include components/footer