html
  head
    title Contact Us
    link(rel="canonical" href="https://cryometrix.com/not-found")
    include components/head
  body
    include components/header

    #wrapper.thanks
        h1 Sorry! Page not found!

    include components/footer