extends templates/product

block product-title
  title L-80 Liquid Chiller | Cryometrix
  link(rel="canonical" href="https://cryometrix.com/product-L80")
  meta(charset="UTF-8")
  meta(name="description" content="The L-80 can cool 120 gal of ethanol to -40 °C in 30 minutes with minimal electrical and LN2 usage. Learn more about the fastest liquid chiller on the market!")

block description
  h1 Cryometrix L-80 Liquid Chiller
  div 
    a(href="brochures/Cryometrix_L-80.pdf" download="Cryometrix_L-80") #[i.far.fa-file-alt] #[span Download Brochure]
    //-a#calculator(href="#") #[i.fas.fa-calculator] #[span Calculate Storage Space]
    //- a Download Map
  p Cryometrix is proud to announce the arrival of a revolutionary new product - the Cryometrix L-80 Liquid Chiller.
  br
  p Utilizing liquid nitrogen, the L-80 is the fastest ethanol chiller on the market. Capable of chilling 120 gallons of Ethanol to -65 &degC in 45 minutes and to -45 &degC in 30 minutes, the L-80 is the most powerful and price-efficient tool for chilling ethanol. Featuring patent-pending technology, the L-80 is specifically designed to work with liquids like ethanol for CBD extraction and winterization. Use our L-80 as a cannabinoid chiller for your process!
  br
  p The L-80 is portable, requires zero changes to your build's infrastructure, and has a low power requirement of 110 volts, enabling it to be implemented in any facility. With practically silent operation, the L-80 Liquid Chiller is ideal for chilling ethanol for small or large-scale extraction processes.
  br
  p Contact us at (801) 226-4100 for more information.
  br
  p Cryometrix Liquid Nitrogen Technology is patented and patent pending.
  br
  h3 Includes:
  p Chilling vessel, cryogenic cooling system, and pumping system.
  br
  p The L-80 requires only electricity and LN2 to function.
  br

block table
  .english
    table
      tr
        th Physical Property
        th Metric
        th Imperial
      tr
        td External Dimensions <br/>(Depth x Width x Height)
        td 813 mm x 813 mm x 2032 mm 
        td 32"  x 32"  x 80" 
      tr
        td Barrel Dimensions <br/>(Diameter x Height)
        td 762 mm x 1168 mm 
        td 30" x 46"
      tr
        td Barrel Capacity
        td 454 liters 
        td 120 gallons
      tr
        td Temperature Range
        td 20 &deg;C to -80 &deg;C 
        td 68 &deg;F to -112 &deg;F
      tr
        td Peak Variation from Setpoint
        td 1 &deg;C &plusmn; 
        td 1.8 &deg;F &plusmn;
      tr
        td 120 gal Ethanol Pull Down <br/> -80 &deg;C (-112 &deg;F)
        td 60 minutes
        td 60 minutes
      tr
        td 120 gal Ethanol Pull Down <br/> -65 &deg;C (-85 &deg;F)
        td 45 minutes
        td 45 minutes
      tr
        td 120 gal Ethanol Pull Down <br/> -40 &deg;C (-40 &deg;F)
        td 30 minutes
        td 30 minutes
      tr
        td 30 gal Ethanol Pull Down <br/> -40 &deg;C (-40 &deg;F)
        td 9 minutes
        td 9 minutes
      tr
        td Fill Time
        td(colspan="2") 6 minutes
      tr
        td Drain Time (@ -65 &deg;C)
        td(colspan="2") 12 minutes
      tr
        td LN2 Consumption / Cycle
        td 283 L
        td 75 gal
      tr
        td LN2 Usage / Gal Ethanol Chilled
        td 2.2 L / 1 gal 
        td 0.6 gal / 1 gal



    

block image-slider
  img(src="images/freezers/L-80/L80-Liquid-Nitrogen-Liquid-Chiller.jpg" alt="Cryometrix L-80 Liquid Nitrogen Liquid Chiller.")
  img(src="images/freezers/L-80/L80-LN2-Ethanol-Chiller-with-technician.jpg" alt="Cryometrix L-80 LN2 Ethanol Chiller with technician.")

block features-benefits
  div
    .left
      div
        h2 Applications
        ul 
          li CBD Extraction Chiller
          ul 
            li A common type of CBD extraction uses ethanol to extract useful cannabinoids. The warmer the ethanol, the more unwanted plant particulates are also extracted. Because of this, chilling the ethanol increases extracted Cannabinoid purity. 
          li CBD Oil Winterization
          ul
            li Oil extracts tend to have plant material intermixed within them after extraction, including CO<sub>2</sub> Hemp Extraction. The L-80 proves a powerful tool for extract winterization.  
          li Research
          ul 
            li Liquid chillers are typically large, bulky, and expensive, requiring large budgets for any research that required them. The L-80 allows for smaller, sleeker, and cheaper chilling of liquids used for research.
          li Manufacturing
          ul 
            li The L-80 is suited for small operations or large scale industrial production.
      div
        h2 Key Features 
        ul 
          li Automatic Fill Stop
          ul 
            li The L-80 will automatically stop pumping from the bulk liquid supply once the top fill level is reached.
          li Automatic Drain Stop 
          ul 
            li The L-80 will automatically stop pumping liquid out of the chilling chamber once the low level is reached.
          li Datalogging
          ul 
            li The L-80 constantly logs liquid temperature, LN2 pressure, and pump load.
          li Food Grade Stainless Steel
          ul 
            li The liquid being chilled within the L-80 only comes into contact with food-grade stainless steel.
          li Zero Workspace Modification
          ul 
            li The L-80 is small and portable, fitting into any workspace and can be moved with a pallet jack.
            li Running on 110v, the L-80 can plug into common outlets.
            li Zero heat is rejected into the room, so no HVAC is required.
      div
        h2 Benefits over Compressor-Based Liquid Chillers
        ul 
          li Less Maintenance
          ul 
            li Unlike compressor-based chillers which have hundreds of moving parts, the L-80 has only a few moving parts, so very little maintenance is required.
          li Reduced Electric Power Usage
          ul 
            li You will not need to run any power to your building when running our chiller.
          li Faster Chilling and Better Performance
          ul 
            li The low temperature of LN2 enables the L-80 to chill rapidly and to lower temperatures.
      div
        h2 Complete Safety
        ul
          li Closed Nitrogen System
          ul 
            li There is zero contact between LN2 and the operator or product.
            li LN2 storage is simple and completely autonomous.
          li Unreactive
          ul 
            li Nitrogen isn't flammable or explosive like many refrigerants used in compressor-based technologies.
          li Easy Cleaning
          ul 
            li The 100% stainless steel design is easy to clean without harsh industrial chemicals.
      div
        h2 Environment Friendly
        ul
          li Clean Emissions
          ul 
            li Cryometrix products only emit nitrogen outside your building, which already makes up over 75% of the Earth's atmosphere.
          
      
      
    .right
      div
        h2 Powerful Innovation
        ul 
          li Next-Gen Liquid Nitrogen Tech
          ul 
            li Cryometrix products don't use traditional mechanical compressors that utilize refrigerants, an example being freon, to produce cold temperatures. These are noisy and use large amounts of electricity.
            li LN2 has a boiling point of -196&deg;C, enabling temperatures as low as -196&deg;C. Most refrigerants have boiling points greater than -100&deg;C, making it difficult for technology that uses them to generate temperatures below that.
          li Low Energy Usage
          ul 
            li Cryometrix tech use 7x less electricity than comparable products.
            li LN2 operates on pressure and requires no electricity to function, enabling it to function without power in emergency situations.
          li Extreme Reliability
          ul 
            li Cryometrix freezing technology doesn't require HVAC systems to cool the ambient temperature in order to operate. It can operate in any ambiance and cools the environment around it.
            li There are practically no moving parts in Cryometrix LN2 freezing technology, making it last up to 4 times as long as comparable freezing technology, in addition to requiring hardly any maintenance.
            li Practically silent when in operation.
          li Easily Expandable
          ul 
            li Cryometrix products consume little electricity, enabling the customer to add additional units to their facility with zero electrical complications.
            li The effective footprint is 16 square feet and little to no space is needed on the sides, easily fitting into any facility.
          li Extreme Versatility
          ul 
            li The L-80 can chill any liquid that can handle the ultra-low temperatures at which it operates.
      div
        h2 Cost Efficiency
        ul
          li Space Efficient
          ul 
            li The Cryometrix L-80 Solvent Chiller has the smallest footprint for its liquid chilling capability, costing less in floor space and allowing you to fit more units in your current space.
          li Simple Design
          ul 
            li The simple functioning and operation of the L-80 doesn't require extensive training, reducing labor costs and risks.
          li Low Energy Costs
          ul 
            li LN2 technology uses much less electricity than traditional compressor-based technologies.
            li Cryometrix products don't need energy intensive HVAC systems to operate efficiently.
          li Greater Throughput
          ul 
            li The increased capability of the L-80 allows faster turnaround times and thus greater profits.
      div
        h2 Sample Integrity
        ul
          li Closed System
          ul 
            li No LN2 is exposed to the sample, maintaining the samples integrity.
          li Data-Logging
          ul 
            li The L-80 automatically tracks temperature and other useful data.
          li Temperature Uniformity
          ul 
            li A pump maintains high flux throughout chilled liquid, maintaining even temperatures throughout.


