extends templates/product

block product-title
  title L-80 Lite Chiller | Cryometrix
  link(rel="canonical" href="https://cryometrix.com/product-L80")
  meta(charset="UTF-8")
  meta(name="description" content="The L-80 can cool 120 gal of ethanol to -40 °C in 30 minutes with minimal electrical and LN2 usage. Learn more about the fastest liquid chiller on the market!")

block description
  h1 Cryometrix L-80 Lite Chiller
  div 
    a(href="brochures/Cryometrix_L-80_Lite.pdf" download="Cryometrix_L-80_Lite") #[i.far.fa-file-alt] #[span Download Brochure]
    //-a#calculator(href="#") #[i.fas.fa-calculator] #[span Calculate Storage Space]
    //- a Download Map
  p Say Hello to the new 2021 L-80 Lite Liquid Chiller. Perfect option for those entering the extraction market. The L-80 Lite is the younger brother to the L-80 Max. It provides the same great performance at a much lower price. The L-80 Lite eliminates the use of ultra-low freezers and allows a homogeneous temperature of your chilled liquid. Quickly chill alcohol pre-extraction within a compact footprint, saving lab space and post-processing time.
  br
  p The L-80 Lite is the fastest ethanol liquid chiller on the market. Capable of chilling up to 30 gallons of Ethanol to -80 °C in 15 minutes. 
  br
  p L-80 Lite offers modular design that will grow with your company as you expand. This allows you to field-upgrade the machine as you grow in areas like automation, control, capacity etc. Featuring patent-pending technology, the L-80 Lite is specifically designed to work with liquids like ethanol for CBD extraction and winterization. Use our L-80 Lite as a cannabinoid chiller for your process!
  br
  p L-80 Lite chillers are also capable with of cooling solvent tanks used for Hydrocarbon extraction. Talk to a Cryometrix representative for more information. 
  br
  p For further customization upgrades on the L-80 Lite contact Cryometrix for more info.
  br
  p Contact us at (801) 226-4100 for more information.
  br
  p Cryometrix Liquid Nitrogen Technology is patented and patent pending.
  br
  h3 Standard Unit Includes:
  p Chilling vessel, cryogenic cooling system, and pumping system.
  p Payload bay temperature range of +20&deg;C to -80&deg;C &plusmn; 3&deg;C
  p C1D2 Peer Reviewed
  p Temperature Display on Chiller
  p Best Performance in Industry (20&deg;C to -40&deg;C in 8 minutes)
  p Zero exposure to Liquid Nitrogen for the user or payload bay
  p Exterior dimensions of 40" H X 33" W X 33" D 
  p Payload Bay – Stainless Steel Insulated Drum with 30 Gallon Ethanol Capacity
  p SS Drain Pump w/ Sanitary Tri-clamp Connections (30 GPM Flow = 1 Minute Drain time)
  p Sanitary Piping and All SS Pumps Rated to -80&deg;C
  p The L-80 Lite requires only electricity and LN2 to function.
  br

  h3 Optional Upgrades:
  p Ethanol Control Upgrade – Contact us for more information and pricing.
  p LN2 Control Upgrade – Contact us for more information and pricing.
  p Supply Power Upgrade – Allow your unit to run on 110 VAC instead or 220 VAC (standard)



block table
  .english
    table
      tr
        th Physical Property
        th Metric
        th Imperial
      tr
        td External Dimensions <br/>(Depth x Width x Height)
        td 838 mm x 838 mm x 1270 mm 
        td 33"  x 33"  x 50" 
      tr
        td Barrel Dimensions <br/>(Diameter x Height)
        td 762 mm x 432 mm 
        td 30" x 17"
      tr
        td Barrel Capacity
        td 114 liters 
        td 30 gallons
      tr
        td Temperature Range
        td 20 &deg;C to -80 &deg;C 
        td 68 &deg;F to -112 &deg;F
      tr
        td Peak Variation from Setpoint
        td 2 &deg;C &plusmn; 
        td 3.6 &deg;F &plusmn;
      tr
        td 30 gal Ethanol Pull Down <br/> -40 &deg;C (-40 &deg;F)
        td 10 minutes
        td 10 minutes
      tr
        td 30 gal Ethanol Pull Down <br/> -65 &deg;C (-85 &deg;F)
        td 13 minutes
        td 13 minutes
      tr
        td 30 gal Ethanol Pull Down <br/> -80 &deg;C (-112 &deg;F)
        td 18 minutes
        td 18 minutes
      tr
        td Drain Time (30 Gallons)
        td(colspan="2") 1 minute
      tr
        td Drain Flow Rate
        td 114 L/min
        td 30 gal/min
      tr
        td LN2 Usage / Gal Ethanol Chilled (to -40&deg;C)
        td 2.2 L / 1 gal 
        td 0.5 gal / 1 gal
      tr
        td Power Requirement
        td(colspan="2") 220 VAC or 110 VAC with step-up upgrade
      tr
        td Liquid Connections
        td(colspan="2") 1.5" Sanitary Tri-Clamp connection
      tr
        td Pumps Included
        td(colspan="2") Drain Pump and Recirculate Pump. All Stainless-Steel sanitary connections on chiller



    

block image-slider
  img(src="images/freezers/l80lite/l80-1.jpg" alt="Cryometrix L-80 Lite Liquid Nitrogen Liquid Chiller.")
  img(src="images/freezers/l80lite/l80-2.jpg" alt="Cryometrix L-80 Lite Liquid Nitrogen Liquid Chiller.")
  img(src="images/freezers/l80lite/l80-3.jpg" alt="Cryometrix L-80 Lite Liquid Nitrogen Liquid Chiller.")

block features-benefits
  div
    .left
      div
        h2 Applications
        ul 
          li CBD Extraction Chiller
          ul 
            li A common type of CBD extraction uses ethanol to extract useful cannabinoids. The warmer the ethanol, the more unwanted plant particulates are also extracted. Because of this, chilling the ethanol increases extracted Cannabinoid purity. 
          li CBD Oil Winterization
          ul
            li Oil extracts tend to have plant material intermixed within them after extraction, including CO<sub>2</sub> Hemp Extraction. The L-80 Lite proves a powerful tool for extract winterization.  
          li Research
          ul 
            li Liquid chillers are typically large, bulky, and expensive, requiring large budgets for any research that required them. The L-80 Lite allows for smaller, sleeker, and cheaper chilling of liquids used for research.
          li Manufacturing
          ul 
            li The L-80 Lite is suited for small operations or large scale industrial production.
      div
        h2 Key Features 
        ul 
          li Automatic Fill Stop
          ul 
            li The L-80 Lite will automatically stop pumping from the bulk liquid supply once the top fill level is reached.
          li Automatic Drain Stop 
          ul 
            li The L-80 Lite will automatically stop pumping liquid out of the chilling chamber once the low level is reached.
          li Datalogging
          ul 
            li The L-80 Lite constantly logs liquid temperature, LN2 pressure, and pump load.
          li Food Grade Stainless Steel
          ul 
            li The liquid being chilled within the L-80 Lite only comes into contact with food-grade stainless steel.
          li Zero Workspace Modification
          ul 
            li The L-80 Lite is small and portable, fitting into any workspace and can be moved with a pallet jack.
            li Running on 110v, the L-80 Lite can plug into common outlets.
            li Zero heat is rejected into the room, so no HVAC is required.
      div
        h2 Benefits over Compressor-Based Liquid Chillers
        ul 
          li Less Maintenance
          ul 
            li Unlike compressor-based chillers which have hundreds of moving parts, the L-80 Lite has only a few moving parts, so very little maintenance is required.
          li Reduced Electric Power Usage
          ul 
            li You will not need to run any power to your building when running our chiller.
          li Faster Chilling and Better Performance
          ul 
            li The low temperature of LN2 enables the L-80 Lite to chill rapidly and to lower temperatures.
      div
        h2 Complete Safety
        ul
          li Closed Nitrogen System
          ul 
            li There is zero contact between LN2 and the operator or product.
            li LN2 storage is simple and completely autonomous.
          li Unreactive
          ul 
            li Nitrogen isn't flammable or explosive like many refrigerants used in compressor-based technologies.
          li Easy Cleaning
          ul 
            li The 100% stainless steel design is easy to clean without harsh industrial chemicals.
      div
        h2 Environment Friendly
        ul
          li Clean Emissions
          ul 
            li Cryometrix products only emit nitrogen outside your building, which already makes up over 75% of the Earth's atmosphere.
          
      
      
    .right
      div
        h2 Powerful Innovation
        ul 
          li Next-Gen Liquid Nitrogen Tech
          ul 
            li Cryometrix products don't use traditional mechanical compressors that utilize refrigerants, an example being freon, to produce cold temperatures. These are noisy and use large amounts of electricity.
            li LN2 has a boiling point of -196&deg;C, enabling temperatures as low as -196&deg;C. Most refrigerants have boiling points greater than -100&deg;C, making it difficult for technology that uses them to generate temperatures below that.
          li Low Energy Usage
          ul 
            li Cryometrix tech use 7x less electricity than comparable products.
            li LN2 operates on pressure and requires no electricity to function, enabling it to function without power in emergency situations.
          li Extreme Reliability
          ul 
            li Cryometrix freezing technology doesn't require HVAC systems to cool the ambient temperature in order to operate. It can operate in any ambiance and cools the environment around it.
            li There are practically no moving parts in Cryometrix LN2 freezing technology, making it last up to 4 times as long as comparable freezing technology, in addition to requiring hardly any maintenance.
            li Practically silent when in operation.
          li Easily Expandable
          ul 
            li Cryometrix products consume little electricity, enabling the customer to add additional units to their facility with zero electrical complications.
            li The effective footprint is 16 square feet and little to no space is needed on the sides, easily fitting into any facility.
          li Extreme Versatility
          ul 
            li The L-80 Lite can chill any liquid that can handle the ultra-low temperatures at which it operates.
      div
        h2 Cost Efficiency
        ul
          li Space Efficient
          ul 
            li The Cryometrix L-80 Lite Solvent Chiller has the smallest footprint for its liquid chilling capability, costing less in floor space and allowing you to fit more units in your current space.
          li Simple Design
          ul 
            li The simple functioning and operation of the L-80 Lite doesn't require extensive training, reducing labor costs and risks.
          li Low Energy Costs
          ul 
            li LN2 technology uses much less electricity than traditional compressor-based technologies.
            li Cryometrix products don't need energy intensive HVAC systems to operate efficiently.
          li Greater Throughput
          ul 
            li The increased capability of the L-80 Lite allows faster turnaround times and thus greater profits.
      div
        h2 Sample Integrity
        ul
          li Closed System
          ul 
            li No LN2 is exposed to the sample, maintaining the samples integrity.
          li Data-Logging
          ul 
            li The L-80 Lite automatically tracks temperature and other useful data.
          li Temperature Uniformity
          ul 
            li A pump maintains high flux throughout chilled liquid, maintaining even temperatures throughout.


