extends templates/product

block product-title
  title RMF-90 Freezer | Cryometrix
  link(rel="canonical" href="https://cryometrix.com/product-RMF-90")
  meta(charset="UTF-8")
  meta(name="description" content="The RMF-90 will be coming soon to the Cryometrix site.")

block description
  h1 RMF-90 Freight Freezer
  p The RMF-90 will be coming soon to the Cryometrix site. For more information call 801.226.4100 or E-Mail us at info@cryometrix.com.

block table
  .english
    table
      tr
        th Physical Property
        th Metric
        th Imperial
      tr
        td External Dimensions <br/>(Depth x Width x Height)
        td -
        td -
      tr
        td Barrel Dimensions <br/>(Diameter x Height)
        td -
        td -
      tr
        td Barrel Capacity
        td -
        td -
      tr
        td Temperature Range
        td -
        td -
      tr
        td Peak Variation from Setpoint
        td -
        td -
      tr
        td 120 gal Ethanol Pull Down <br/> -80 &deg;C (-112 &deg;F)
        td -
        td -
      tr
        td 120 gal Ethanol Pull Down <br/> -65 &deg;C (-85 &deg;F)
        td -
        td -
      tr
        td 120 gal Ethanol Pull Down <br/> -40 &deg;C (-40 &deg;F)
        td -
        td -
      tr
        td 30 gal Ethanol Pull Down <br/> -40 &deg;C (-40 &deg;F)
        td -
        td -
      tr
        td Fill Time/Drain Time (120 Gallons)
        td -
        td -
      tr
        td Fill Time/Drain Time (120 Gallons)
        td -
        td -
      tr
        td LN2 Consumption / 120 Gal. Cycle
        td -
        td -
      tr
        td LN2 Usage / Gal Ethanol Chilled (to -40&deg;C)
        td -
        td -
      tr
        td Power Requirement
        td -
        td -
      tr
        td Liquid Connections
        td -
        td -
      tr
        td Automatic Fill Levels
        td -
        td -
      tr
        td Pumps Included
        td -
        td -



    

block image-slider
  img(src="images/freezers/rmf90/1rmf.jpg" alt="RMF freight freezer with door open.")
  img(src="images/freezers/rmf90/2rmf.jpg" alt="RMF freight freezer with door closed.")
  img(src="images/freezers/rmf90/3rmf.jpg" alt="RMF freight freezer with shipping rope.")
  img(src="images/freezers/rmf90/4rmf.jpg" alt="Close up detail of side.")
  img(src="images/freezers/rmf90/5rmf.jpg" alt="Close up detail of handle.")
  img(src="images/freezers/rmf90/6rmf.jpg" alt="Close up detail of door.")



