//This file contains all styles for the footer elements
footer {
    clear: both;
    background-color: $foot-info;

    h5 {
        font-size: $headings;
    }

    .foot-info {
        margin: 0 2% 0 2%;
        height: 250px;
        display: flex;
        justify-content:space-around;

        
        .container-1 {
            display: flex;
            justify-content: flex-start;
        }
        .foot-products {
            min-width: 250px;
            ul {
                padding-left: 0;
            }
            li {
                list-style: none;
                a {
                    color: $logo-blue;
                    padding: 5px;
                    display: block;
                    font-size: $normal;
                    font-weight: normal;
                    transition-duration: 300ms;
                }
                a:hover {
                    color: black;
                }
            }
        }
        .foot-contact {
            min-width: 250px;
            max-width: 250px;
            font-size: $normal;

            p {
                color: $copy-background;
            }

            a {
                width: 80%;
                color: white;
                margin: 15px auto;
                display: block;
                padding: 8px 0;
                text-align: center;
                border-radius: 1px;
                text-decoration: none;
                background-color: $logo-blue;
                transition-duration: 300ms;
            }
            a:hover {
                background-color: $btn-hover;
            }
        }

        .foot-contact,
        .foot-products {
            height: 100%;
            
            padding: 5px 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .container-2 {
            color: $copy-background;
            align-self: center;
            width: 20%;

            img {
                border: 2px solid $copy-background;
                max-width: 100%;
                border-radius: 3px;
                transition-duration: 300ms;
                margin-top: 5px;
            }
            
            
           
           
        }
    }
    .copyright {
        width: 100%;
        color: white;
        text-align: right;
        background-color: $copy-background;

        h5 {
            padding: 7px 25px 7px 0;
            font-size: 14px;
            font-weight: normal;
        }
    }
}

// Media queries for footer
footer {
    @media screen and (max-width: 630px) {
        padding-top: 5px;

        .foot-info {
            height: 560px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .foot-contact,
            .foot-products {
                height: auto;
                margin: 20px 0;

                a { margin-left: 0; }
            }
            .container-2 {
                width: 250px;
                margin-bottom: 15px;
            }
        }
    }
    
    @include screen-size(mobile) {
        
        .foot-contact {
            margin-left: 0px;
        }
    }
}